
//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #0087cb;
$theme-color-2:                 #e68d0c;
$theme-color-3:                 #49aee2;
$theme-color-4:                 #0061af;

$link-color: 					#1b8bf9;

$link-focus-color: 				#1b8bf9;

